In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
s = pd.Series(data=["sad", "stupid", "happy"], index=["yesterday", "today", "tomorrow"])

In [10]:
print("s:")
print(s)

print("\nIndex of s:")
print(s.index)

s:
yesterday       sad
today        stupid
tomorrow      happy
dtype: object

Index of s:
Index(['yesterday', 'today', 'tomorrow'], dtype='object')

In [11]:
gay = pd.Series(data = {"you": 1, "me": 10})

In [12]:
gay

you     1
me     10
dtype: int64

In [15]:
gay["you"]

1

In [17]:
s*2

yesterday          sadsad
today        stupidstupid
tomorrow       happyhappy
dtype: object

In [20]:
thatboi = pd.DataFrame({"first": ["ya boi","ya other boi"], "second":["like", "hate"]})

In [21]:
thatboi

          first second
0        ya boi   like
1  ya other boi   hate

In [25]:
data = {"country": ["Vietnam", "America", "Japan"],
       "capital": ["Hanoi", "DC", "Tokyo"],
       "weather": ["wet","warm","sunny"]}

In [39]:
df = pd.DataFrame(data, columns = ['country', 'capital', 'weather'])
df

   country capital weather
0  Vietnam   Hanoi     wet
1  America      DC    warm
2    Japan   Tokyo   sunny

In [35]:
df = pd.DataFrame(np.arange(0,5))
df

   0
0  0
1  1
2  2
3  3
4  4

In [37]:
df = pd.DataFrame(s, columns = ["mood rn"])
df

          mood rn
yesterday     sad
today      stupid
tomorrow    happy

In [40]:
df2 = pd.DataFrame(df[0:2])
df2

   country capital weather
0  Vietnam   Hanoi     wet
1  America      DC    warm

In [43]:
dientich = pd.Series(data = {"Ca nuoc": 330966.9, "Dong bang song Hong": 21060, "Ha Noi": 3324.4, "Vinh Phuc": 1237.5, "Bac Ninh": 822.7, "Quang Ninh": 6102.3, "TPHCM":2095.5})

In [52]:
df = pd.DataFrame(dientich[0:], columns = ["dien tich"])
df

                     dien tich
Ca nuoc               330966.9
Dong bang song Hong    21060.0
Ha Noi                  3324.4
Vinh Phuc               1237.5
Bac Ninh                 822.7
Quang Ninh              6102.3
TPHCM                   2095.5